{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

<div class="contenedorFormulario">

    <section class="contact" id="contact">
        <div class="form-wrapper flex">
          <h2>
            Get in <br />
            <span> touch.</span>
          </h2>
          <form>
            <label for="email">Your Email:</label>
            <input type="email" id="email" required />
            <button type="submit">Submit</button>
          </form>
        </div>
        <img src="{% static 'ProyectoWebApp/img/contact-image.jpg' %}" alt="elena-joy" />
      </section>

    <!-- {% if "valido" in request.GET %}

        <p style="color: rgb(0, 0, 0)";>Información enviada correctamente, gracias</p>

    {% endif %}
    
    <form action="" method="POST" style="text-align: center;">
        {% csrf_token %}
        <table style="color: white; margin: 20px auto;">{{miFormulario.as_table}}</table>
        <input type="submit" value="Enviar" style="width: 150px;">

    </form> -->
   
</div>

{% endblock %}