{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

   <!-- Heading -->
   <main>
    <section class="hero">
      <div class="hero-introduction flex">
        <h2>
          Aurora Aksnes <br />
          Music
        </h2>
        <p>
          Aurora Aksnes (Stavanger; 15 de junio de 1996), conocida simplemente como AURORA, 
          es una cantautora noruega. Inició su carrera en 2012 con una serie de sencillos 
          independientes que sirvieron para desarrollar su propuesta artística.
        </p>
        <a href="#gallery">Covers</a>
      </div>
      <div class="hero-images">
        <img
          class="hero-aurora"
          src="{% static 'ProyectoWebApp/img/aurora-aksnes.png' %}"
          alt="imagen-de-aurora"
        />
        <img src="{% static 'ProyectoWebApp/img/plant1.png' %}" alt="" class="plant1 plant" />
        <img src="{% static 'ProyectoWebApp/img/plant2.png' %}" alt="" class="plant2 plant" />
      </div>
    </section>
    <section class="about" id="about">
      <div class="acercade-imagen">
        <h5>Folk</h5>
        <img src="{% static 'ProyectoWebApp/img/about-aksnes.png' %}" alt="portrait-picture" />
      </div>
      <div class="about-text flex" id="work">
        <h2>Mas de Aurora</h2>
        <div class="acerca-carrera">
          <h3>Su carrera</h3>
          <p>
            Su álbum más reciente, The Gods We Can Touch (2022), 
            utiliza a los dioses de la mitología griega para hablar 
            sobre «la vergüenza, el deseo y la moralidad».
          </p>
        </div>
        <div class="acerca-genero">
          <h3>Generos</h3>
          <p>
            Su música pertenece al subgénero synthpop (caracterizada por 
            el uso de sintetizadores) y la prensa musical la ha distinguido 
            por sus influencias folk y amplio uso de armonías.
          </p>
        </div>
        <div class="acerca-trayectoria">
          <h3>Su trayectoria</h3>
          <p>
            Algunos reseñadores han coincidido al describir su voz como «etérea».
            Aksnes comenzó su carrera tocando el piano únicamente, pero progresivamente 
            se ha involucrado en la percusión y otros aspectos de la producción de sus temas.
          </p>
        </div>
      </div>
    </section>
    <div class="gallery" id="gallery">
      <header class="galeria">
        <h2>Su musica</h2>
        <p>Algunas de sus portadas:</p>
      </header>
      <img class="gallery1" src="{% static 'ProyectoWebApp/img/gallery1.jpg' %}" alt="man in suit" />
      <img class="gallery2" src="{% static 'ProyectoWebApp/img/gallery2.jpg' %}" alt="lady in coat" />
      <img class="gallery3" src="{% static 'ProyectoWebApp/img/gallery3.jpg' %}" alt="lady in t-shirt" />
      <img class="gallery4" src="{% static 'ProyectoWebApp/img/gallery4.jpg' %}" alt="lady in jacket" />
    </div>
    <!-- <section class="contact" id="contact">
      <div class="form-wrapper flex">
        <h2>
          Get in <br />
          <span> touch.</span>
        </h2>
        <form>
          <label for="email">Your Email:</label>
          <input type="email" id="email" required />
          <button type="submit">Submit</button>
        </form>
      </div>
      <img src="{% static 'ProyectoWebApp/img/contact-image.jpg' %}" alt="elena-joy" />
    </section> -->
  </main>
  
    <!-- Message -->
    {% endblock %}


    