{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
    
    <form method="post" action="" class="mt-4" style="color: rgb(0, 0, 0);">
        {% csrf_token %}

        <div style="width: 80%; margin: auto; font-size: large;">

        {{form|crispy}}

        <button type="submit" class="btn btn-success mb-4" style="font-size: 3rem !important;">Iniciar Sesion</button>

        <button class="btn btn-primary mb-2">
            <a href="{% url 'social:begin' 'google-oauth2' %}">Login With Google</a>
        </button>

    </div>
    </form>

{% endblock %}